# {{ project.project_name }}

Generated with pypro.

## Development

```bash
make venv
make install
make run
```

## Quality

```bash
make test
make lint
make format
```

## Database

```bash
make migrate
```
